<html>
	<head>
		<link rel="stylesheet" href="style.css" type="text/css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	</head>
	<body>
		<div class="container">
			<div class="box">
				<div class="row">
					<div class="col-md-4">

					</div>
					<div class="text-center col-md-4">
						<form action="/names" method="post">
							<div class="form-group">
								<label for='player_1_name'></label>
								<input type="text" class="form-control" name="player_1_name" id="player_1_name" placeholder="Player 1">
							</div>
							<div class="form-group">
								<label for='player_2_name'></label>
								<input type="text" class="form-control" name="player_2_name" id="player_2_name" placeholder="Player 2">
							</div>
							<button type="submit" class="btn btn-danger" value='Fight!'>Fight!</button>
						</form>
					</div>
					<div class="col-md-4">

					</div>
				</div>
			</div>
		</div>
	</body>
</html>
